@import "variables";

@font-face {
  font-family: 'Raleway';
  src: url(/fonts/raleway/Raleway-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url(/fonts/raleway/Raleway-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url(/fonts/raleway/Raleway-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url(/fonts/raleway/Raleway-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url(/fonts/raleway/Raleway-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome.scss";
.form-field-err{
  font-size:12px;
  color:#ff1744;
  font-weight:bold;
  margin:0;
  display:none;
}
.date-input{
  width:auto;
  display:inline-block;
}
table{
  background-color:#ffffff;
}
.pagination{
  margin:0;
}
.margin-l10{
  margin-left:10px;
}
.dashboard-go-spinner{
  display:none;
}